{% extends 'layouts.html' %} 

{% block styles %} 
<link rel="stylesheet" href="/static/styles/details.css">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/styles/layouts.css">
<link rel="stylesheet" href="/static/styles/about.css">
{% endblock %}

{% block content %}
<div class="about">

    <h2>About</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid quae veniam eligendi optio corrupti sapiente ratione qui minus aliquam numquam voluptatem quis repellat ipsam facere, impedit tempore libero odio iure?</p>

    <h2>Our Movies</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum excepturi velit dignissimos enim dolorum porro obcaecati ullam aliquid rerum delectus assumenda, distinctio neque incidunt praesentium illum necessitatibus? Rerum, aliquam inventore!</p>

    <h2>History</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate placeat obcaecati commodi ipsam aut? Aperiam quisquam doloribus, reiciendis vitae harum amet quod eligendi aliquam fugiat perferendis accusamus molestiae error.</p>

</div>
{% endblock %}