{% extends 'layouts.html' %} 



{% block styles %} 
<link rel="stylesheet" href="/static/styles/details.css">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/styles/layouts.css">
{% endblock %}

{% block content %}

<h2>{{ movie.title }}</h2>

<div class="container_details">
  <div class="image">
    <img src="{{ movie.image }}" />
  </div>

<div class="synopsis">
    <h6>Synopsis</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nesciunt libero
      laboriosam error dolorem, fuga facere iusto pariatur, sapiente sed ex
      quibusdam sit sunt earum vitae saepe magnam quae, quidem provident
      distinctio illo nam labore.
    </p>
    <h3>Release year: {{ movie.release_year }}</h3> 
    <h3>Price: ${{ movie.price }}</h3> 
    <h3>In Stock: {{ movie.in_stock }}</h3> 
  <div class="actions">
    <button class="btn btn-sm btn-info">Add to Cart</button>
    
    <button class="btn btn-sm btn-danger">Watch on netflix</button>
  
    <button class="btn btn-sm btn-success">Watch on Hulu</button>
    
    <button class="btn btn-sm btn-dark">Watch on Itunes</button>
  </div>
  </div>
</div>



  

  

  
{% endblock %}
